




body {
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;

 
}

.lorem{
 
  color: yellow;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  
  

  -webkit-transform: rotateX(30deg); perspective: 300px;
  transform: rotateX(30deg); perspective: 300px; 
  
  
  scale: 1;
}

.position{
  position: fixed;
  
  margin-left: 400px;
  margin-right: 400px;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-transform: rotateX(30deg); perspective: 300px;
  transform: rotateX(30deg); perspective: 300px; 
  
  
}

@keyframes example {
  0%   {top: 500px; }
  20%  {top: 300px;  }
  25%  {top: 250px;}
  35%   {top: 150px; }
  50%  {top: 0px;  }
  60% {top: -100px; }
  75%  {top: -250px; }
  90% {top: -400px; }
  100% {top: -500px;  }
}
  /*0%   {transform: rotateX(0deg)}
  25%  {transform: rotateX(deg)}
  50%  {transform: rotateX(deg)}
  75%  {transform: rotateX(deg)}
  100% {transform: rotateX(0deg);}